<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<appSettings>
		<add key="SMS_DevSmsService_FromAddress" value="TASHEEL UAT"/>

		<add key="SMS_DevSmsService_ChannelId" value="SMPP1_UNIFONIC"/>

		<add key="SMS_DevSmsService_CustomField1" value="5055153"/>

		<!-- The value of the two entries below is part of an SQL command. Make sure to wrap the value between single quotes if it's a string -->

		<add key="SMS_DevSmsService_CustomField2_en" value="'ucfs-cust-portal.sms-en@ucfswebapps1.test'"/>

		<add key="SMS_DevSmsService_CustomField2_ar" value="'ucfs-cust-portal.sms-ar@ucfswebapps1.test'"/>
	</appSettings>
	
</configuration>
