<script src="~/Scripts/UserManagement/CustomerProfile.js"></script>
@{
    Layout = null;
}
<style>
    .toggle-password {
        position: relative;
        cursor: pointer;
        font-size: 18px !important;
    }
</style>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>
<link rel="stylesheet" href="~/assets/css/EmployeeForm.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/5.0.6/jquery.inputmask.min.js" integrity="sha512-6Jym48dWwVjfmvB0Hu3/4jn4TODd6uvkxdi9GNbBHwZ4nGcRxJUCaTkL3pVY6XUQABqFo3T58EMXFQztbjvAFQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<style>
    .wrapper1 {
        position: relative;
    }

    input {
        padding-left: 48px;
    }

    .toggle-password {
        position: relative;
        right: 9px;
        bottom: 28px;
        cursor: pointer;
    }
</style>


<!DOCTYPE html>
<html lang="en">
<head>

    <title>Login - BNPL</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">

    <meta name="keywords" content="">
    <meta name="author" content="Hamza Saeed">
    <meta name="robots" content="noindex, nofollow">


    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="~/img/favicon.png">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css">

    <!-- Fontawesome CSS -->
    <link rel="stylesheet" href="~/assets/css/font-awesome.min.css">

    <!-- Main CSS -->
    <link rel="stylesheet" href="~/assets/css/style.css">

    <!-- jQuery -->
    <script src="~/assets/js/jquery-3.2.1.min.js"></script>

    <!-- Bootstrap Core JS -->

    <script src="~/assets/js/popper.min.js"></script>
    <script src="~/assets/js/bootstrap.min.js"></script>

    <!-- Custom JS -->
    <script src="~/assets/js/app.js"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="assets/js/html5shiv.min.js"></script>
        <script src="assets/js/respond.min.js"></script>
    <![endif]-->
    <script>
        $(document).ready(function () {
            $(".toggle-password").click(function () {
                var input = $($(this).attr("toggle"));
                if (input.attr("type") == "password") {
                    $(".toggle-password").removeClass("fa fa-eye-slash");
                    $(".toggle-password").addClass("fa fa-eye");
                    input.attr("type", "text");
                } else {
                    input.attr("type", "password");
                    //$(".toggle-password").removeClass("fa fa-eye");
                    $(".toggle-password").addClass("fa fa-eye-slash"); 
                }
            });
        });
    </script>
</head>
<body class="account-page">

    <!-- Main Wrapper -->
    <div class="main-wrapper">
        <div class="account-content">
            <form id="form-1">
    <!--Employee Basic Information form starts -->
    <div class="card-title">
        <div class="card-title mt-3 ml-2">
            Customer Basic Information
        </div>
        <hr style="margin-top: -1rem;" />
        <br />
        <div class="row ml-2">
            <div class="col-xl-6">
                   <div class="form-group row">
                    <label for="FirstName" class="col-lg-5 col-form-label">First Name<span class="text-danger">*</span></label>
                    <div class="col-lg-7">
                        <input id="FirstName" name="FirstName" type="text" class="form-control" required>
                    </div>
                   </div>
                    <div class="form-group row">
                    <label for="MiddleName" class="col-lg-5 col-form-label">Middle Name<span class="text-danger">*</span></label>
                    <div class="col-lg-7">
                        <input id="MiddleName" name="MiddleName" type="text" class="form-control" required>
                    </div>
                   </div>
                    <div class="form-group row">
                    <label for="LastName" class="col-lg-5 col-form-label">Last Name<span class="text-danger">*</span></label>
                    <div class="col-lg-7">
                        <input id="LastName" name="LastName" type="text" class="form-control" required>
                    </div>
                   </div>

                <div class="form-group row">
                    <label for="UserName" class="col-lg-5 col-form-label">User Name<span class="text-danger">*</span></label>
                    <div class="col-lg-7">
                        <input id="UserName" name="UserName" type="text" class="form-control" required>

                    </div>
                </div>
              
                
            </div>
            <div class="col-xl-6">
            <div class="form-group row">
                <label for="Mobile" class="col-lg-5 col-form-label">Mobile<span class="text-danger">*</span></label>
                <div class="col-lg-7">
                    <input id="Mobile" name="Mobile" type="tel" class="form-control" required>
                </div>
            </div>
              <div class="form-group row">
                <label for="Gender" class="col-lg-5 col-form-label">Gender<span class="text-danger">*</span></label>
                <div class="col-lg-7">
                <input id="Gender" name="Gender" type="text" class="form-control" required>
                 </div>
                 </div>
              <div class="form-group row">
                <label for="Language" class="col-lg-5 col-form-label">Language<span class="text-danger">*</span></label>
                <div class="col-lg-7">
                <input id="Language" name="Language" type="text" class="form-control" required>
                 </div>
                 </div>
            <div class="form-group row">
                <label for="CivilId" class="col-lg-5 col-form-label">Civil Id<span class="text-danger">*</span></label>
                <div class="col-lg-7">
                    <input id="CivilId" name="CivilId" type="tel" class="form-control" required>
                </div>
            </div>
            <div class="form-group row">
                <label for="TitleId" class="col-lg-5 col-form-label">Title<span class="text-danger">*</span></label>
                <div class="col-lg-7">
                    <input id="TitleId" name="TitleId" type="text" class="form-control" required>
                </div>
            </div>
           </div>
        </div>
        <div class="row ml-2">
            <div class="col-xl-6">
                <div class="form-group row">
                    <label for="Email" class="col-lg-5 col-form-label">Email<span class="text-danger">*</span></label>
                    <div class="col-lg-7">
                        <input id="Email" name="Dob" type="email" class="form-control" required>
                        <span id="Email" style="color:#910e0e"></span>
                    </div>
                </div>
            </div>

            <div class="col-xl-6">
                <div class="form-group row">
                    <label for="Password" class="col-lg-5 col-form-label">Password<span class="text-danger">*</span></label>
                    <div class="col-lg-7">
                        <input id="Password" name="Password" type="password" class="form-control" required>
                                    @*   <span toggle="#Password" class="text-primary text-20 pull-right fa fa-eye-slash font-weight-bold field-icon toggle-password"></span>*@
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="row ml-2">

        <div class="col-xl-6">
            <div class="form-group row">
                <label for="Dob" class="col-lg-5 col-form-label">Date of Birth<span class="text-danger">*</span></label>
                <div class="col-lg-7">
                    <input id="Dob" name="Dob" type="date" class="form-control" onchange="DateOfBirthCheck(this.id)" required>
                    <span id="DobError" style="color:#910e0e"></span>
                </div>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-xl-6">
        </div>
    </div>
    <!--Employee Basic Information form Ends -->
    <div class="text-right">
        <button class="btn btn-primary" id="basic-button-enab" type="button" onclick="Add()">Save</button>

    </div>
</form>

    </div>
</div>
</body>